h1{
   color: orange;
   font-size: 50px;
}

body {
    padding:  0px;             /* 余白指定 */
    margin: 0 auto;
}
body{
    background:beige;
}
.inoue-btn{
  width: 100px;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #FFA500;/*ボタン色*/
  color: white;
  border-bottom: solid 4px #FFA500;
  border-radius: 5px;
}
.inoue-btn:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(6px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}
.inoue-btn{
  width: 5em;
  height:3em;
}
.center {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 10vh;
    }


