header {
    border-bottom:  solid 1px;  /* 枠線指定 */
    padding:  50px 0px;             /* 余白指定 */
    margin:  auto;
    width: 100vw;
    height: 10vh;
    background-color:bisque;
}

h1 {
text-align: center;
}
h1{
   color: orange;
}

body {
    padding:  0px;             /* 余白指定 */
    margin: 0 auto;
    width: 100vw;
    height: 80vh;
    background-color:beige;
}

.btn-square {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #FFA500;/*ボタン色*/
  color: white;
  border-bottom: solid 4px #FF8C00;
  border-radius: 3px;
}
.btn-square:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}


