@charset "UTF-8";

h1 {
	font-size: 50px;
	text-align: center;
}

p {
	font-size: 15px;
	text-align: center;
}

form {
	text-align: center;

}

/*.button{*/
/*	display: block;*/
/*	text-align: center;*/
/*										vertical-align: middle;*/
/*	text-decoration: none;*/
/*	width: 120px;*/
/*	margin: auto;*/
/*	padding: 1rem 4rem;*/
/*	font-weight: bold;*/
/*	border-radius: 0.3rem;*/
/*	border-bottom: 7px solid #0686b2;*/
/*	background: #27acd9;*/
/*	color: #fff;*/
/*}*/

/*.button:hover {*/
/*	margin-top: 6px;*/
/*	border-bottom: 1px solid #0686b2;*/
/*	color: #fff;*/
/*}*/