@charset "UTF-8";

h1{
	padding: 30px;
	font-size: 45px;
	text-align: center;
	height: 150px;
   vertical-align: super;
/*   	 line-height: 300px;*/
}

p {
	font-weight: bolder;
	text-align: center;
	 line-height: 300px;
}

form {
	text-align: center;
}