@charset "UTF-8";

header {
    border-bottom:  solid 1px;  /* 枠線指定 */
    padding:  50px 0px;             /* 余白指定 */
    margin:  auto;
    width: 100vw;
    height: 10vh;
    background-color:bisque;
}
    
h1{
   color: orange;
   text-align: center;
   
}

body {
    
    padding:  0px;             /* 余白指定 */
    margin: 0 auto;
    width: 100vw;
    height: 80vh;
    background-color:beige;
    background-image:url(../haikeiimg/haikei-3.jpg) ;
}
  
input[type="submit"] {
	height: 1280px;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #ffa500;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px lightgray;
  border-radius: 5px;
  position: relative; /* relativeを指定 */
  top: 200px; /* 上から200px移動 */
   /* 左から40px移動 */
  font-size: 200%
 
}
input[type="submit"]:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

 table{
	text-align: center;
	margin: auto
	
}
.pagetop {
	color: #fff;
	background-color: rgba(0,0,0,0.3);
	text-decoration: none;
	display: none;
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	font-size: 1.5rem;
	width: 3.3rem;
	height: 3.3rem;
	line-height: 3.3rem;
	border-radius: 3.3rem;
	text-align: center;
	cursor: pointer;
}

.pagetop:hover {
	color: #fff !important;
	background-color: #ed702b;
	text-decoration: none;
}
