<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>一覧 - </title>
	<meta charset="utf-8" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/hyou2.css}">
	<link rel="stylesheet" th:href="@{/haikei.css}">
	<link rel="stylesheet" th:href="@{/header.css}">
	<link rel="stylesheet" th:href="@{/footer.css}">
	<script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-database.js"></script>
<script>

    // Firebaseの設定情報
   // Your web app's Firebase configuration
const firebaseConfig = {
  apiKey: "AIzaSyBlGToMDazptzsCPmy5xKnQ9PN1BODpwmE",
  authDomain: "team2-1d264.firebaseapp.com",
  databaseURL: "https://team2-1d264-default-rtdb.asia-southeast1.firebasedatabase.app",
  projectId: "team2-1d264",
  storageBucket: "team2-1d264.appspot.com",
  messagingSenderId: "323984337205",
  appId: "1:323984337205:web:495a4888ebbac5dacac47c"
};

    firebase.initializeApp(firebaseConfig);
    var db = firebase.database();

    function sendData() {
    
      const input = document.getElementById("message")

      // Firebase Realtime Databaseにデータを送信
      db.ref("message").set(input.value)

      // const data = {
      //     message: input.value,
      //     timestamp: new Date().toISOString()
      // };

      // // Firebase Realtime Databaseにデータを送信
      // db.ref("messages").push(data)

      // // Firebase Realtime Databaseにデータを送信
      // db.ref("messages").push(data)
      //     .then(() => {
      //     console.log("データが送信されました。");
      //     })
      //     .catch(error => {
      //     console.error("データの送信エラー:", error);
      //     });
    }

  </script>

</head>

<body>
<div class="set">
	<header>
	<h2>
		<a href="/home">健康管理システム</a>
	</h2>
	<nav class="pc-nav">
		<ul>
			<li><a href="/form">健康者一覧</a></li>
<!--			<li><a href="/batform">再診者一覧</a></li>-->
			<li><a href="/add">新規登録</a></li>
		</ul>
	</nav>


</header>

<div class="space"></div>
	<h1 th:text="${title}"></h1>
	<table>
		<tr>
			<td>
				<form method="get" action="#" th:action="@{/dayk2}" th:object="${input}">

		<div><p>名前検索欄 <input type="text" name="name" ><input type="submit" value="検索"></p></div>
		<div th:each=" res : ${dbList}"><input type="hidden" name="id" th:value="${res.id}"></div>

		<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">エラーメッセージ</div>


	</form>
	</td>
	<td>　　</td>
	<td>　
		<form method="get" action="" onclick="sendData()">

		<div><p>再診者全体向けチャット <input type="text"id="message" ><input type="submit" value="送信"></p></div>
		
		</form>
　　</td>
<!--			<td>-->
<!--				<div><p>再診者向けチャット<input type="text" id="message">-->
<!--  <button type="button" onclick="sendData()">送信</button></p></div>-->
				
<!--			</td>-->
		</tr>
	</table>
	
    <p>
    </p>
    <br>
	<table class="line">

		<tr class="line">

			<th class="line">名前</th>
			<th class="line">性別</th>
			<th class="line">年齢</th>
			<th class="line">身長 </th>
			<th class="line">体重</th>
			<th class="line">血圧(上）</th>
			<th class="line">血圧（下）</th>
			<th class="line">メモ</th>
			<th class="line">判定</th>
			<th class="line">編集</th>
		</tr>
		<tr class="line" th:each=" res : ${dbList}">
			<td class="line">
				<form th:action="@{/day2}">
					<input type="hidden" name="id" th:value="${res.id}">
					<div><input type="submit" class="btn btn-link" th:value="${res.name}"></div>
				</form>
			</td>
			<td class="line" th:text="${res.seibetu}"></td>
			<td class="line" th:text="${res.age}"></td>
			<td class="line" th:text="${res.sinntyou}"></td>
			<td class="line" th:text="${res.taijuu}"></td>
			<td class="line" th:text="${res.ketuatuue}"></td>
			<td class="line" th:text="${res.ketuatusita}"></td>
			<td class="line" th:text="${res.memo}"></td>
			<td class="line" th:text="${res.type}"></td>
			<td class="line">
				<form th:action="@{/edit2/{id}(id=${res.id})}">
					<div><input type="submit" class="btn btn-outline-warning" value="編集"></div>
				</form>
			</td>
			<!--			<td>-->
			<!--				<form th:action="@{/del2/{id}(id=${res.id})}">-->
			<!--					<input type="submit" value="削除" />-->
			<!--				</form>-->
			<!--			</td>-->
			<!--			<td>-->
			<!--				<form th:action="@{/cha2/{id}(id=${res.id})}">-->
			<!--					<input type="submit" value="判定変更" />-->
			<!--				</form>-->
			<!--			</td>-->
		</tr>
	</table>
	<p></p>

	<table class="line">
		<tr>
			<td class="line"><form action="#" method="get" th:action="@{/add}">
			<div><input type="submit" class="btn btn-outline-success" value="登録画面"></div>
			</form>
			</td>
			<td class="line"><form action="#" method="get" th:action="@{/form}">
			<div><input type="submit" class="btn btn-outline-primary" value="健康者一覧"></div>
		</form></td>
			<td class="line"><form action="#" method="get" th:action="@{/alldel}">
		<div><input type="submit" class="btn btn-outline-info" id="btn" value="クリア"></div>
	</form>
	<script>
		window.addEventListener('DOMContentLoaded', function () {
			const btn = document.getElementById('btn');
			btn.addEventListener('click', confirmation, true);

			function confirmation() {
				const v = confirm('本当にクリアしますか？');
				if (v === false) {
					event.preventDefault();
				}
			}
		});
	</script></td>
		</tr>
	</table>
	 <div class="push"></div>
	 <footer>
    <div class="link"><a href="#">ページトップへ戻る</a></div>
     <p>©︎2023-2023　Kato Corporation.</p>
  </footer>
  </div>
</body>

</html>