<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>予定編集</title>
	<meta charset="utf-8" />

</head>

<body>
	<h1 th:text="${title}"></h1>
	<div th:object="${input}">
		<form action="#" method="get" th:action="@{/edit2/__*{id}__/exe}">
			<p>
				名前:<input type="text" name="name" th:value="*{name}">
			</p>
			<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">エラーメッセージ</div>
			<p>
				年齢: <input type="text" name="age" th:value="*{age}">
			</p>
			<div th:if="${#fields.hasErrors('age')}" th:errors="*{age}">エラーメッセージ</div>
			<p>
				身長: <input type="text" name="sinntyou" th:value="*{sinntyou}">
			</p>
			<div th:if="${#fields.hasErrors('sinntyou')}" th:errors="*{sinntyou}">エラーメッセージ</div>
		
			<p>
				体重: <input type="text" name="taijuu" th:value="*{taijuu}">
			</p>
			<div th:if="${#fields.hasErrors('taijuu')}" th:errors="*{taijuu}">エラーメッセージ</div>
			<p>
				血圧（上）:<input type="text" name="ketuatuue" th:value="*{ketuatuue}">
			</p>
			<div th:if="${#fields.hasErrors('ketuatuue')}" th:errors="*{ketuatuue}">エラーメッセージ</div>
			<p>
				血圧（下）:<input type="text" name="ketuatusita" th:value="*{ketuatusita}">
			</p>
			<div th:if="${#fields.hasErrors('ketuatusita')}" th:errors="*{ketuatusita}">エラーメッセージ</div>
			<p>
				メモ:<input type="text" name="memo" th:value="*{memo}">
			</p>
			<div th:if="${#fields.hasErrors('memo')}" th:errors="*{memo}">エラーメッセージ</div>
			<p>
				判定:<span th:text="*{type}"></span> <input type="hidden" name="type" th:value="*{type}">
			</p>
			<p>性別：</p>
			<p><select name="seibetu" required>
					<option value="">選択してください</option>
					<option>男</option>
					<option>女</option>
					<option>その他</option>
				</select>
				<!--			<strong>必須</strong>-->
			</p>
			
			<input type="submit" value="更新">
		</form>
	</div>
	<table>
		<tr th:each=" res : ${dbList}">
			<td>
			<form th:action="@{/del2/{id}(id=${res.id})}">
			<input type="submit" value="削除" />
		</form>	
			</td>
			<td>
				<form th:action="@{/cha2/{id}(id=${res.id})}">
			<input type="submit" value="判定変更" />
		</form>
			</td>
		</tr>
		
	</table>
</body>

</html>