<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

	<link rel="stylesheet" href="Home.css">
	<link rel="stylesheet" th:href="@{/haikei.css}">
	<link rel="stylesheet" th:href="@{/header.css}">
	<link rel="stylesheet" th:href="@{/footer.css}">


<head>
	<meta charset="UTF-8">
		<title>"健康管理システム"</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

<!--	<script>-->
<!--		jQuery(document).ready(function () {-->
<!--			var offset = 100;-->
<!--			var duration = 500;-->
<!--			jQuery(window).scroll(function () {-->
<!--				if (jQuery(this).scrollTop() > offset) {-->
<!--					jQuery('.pagetop').fadeIn(duration);-->
<!--				} else {-->
<!--					jQuery('.pagetop').fadeOut(duration);-->
<!--				}-->
<!--			});-->

<!--			jQuery('.pagetop').click(function (event) {-->
<!--				event.preventDefault();-->
<!--				jQuery('html, body').animate({scrollTop: 0}, duration);-->
<!--				return false;-->
<!--			})-->
<!--		});-->
<!--	</script>-->


</head>
 
<body>
		<div class="set">
	<header>
	<h2>
		<a href="/home">健康管理システム</a>
	</h2>
<!--	<nav class="pc-nav">-->
<!--		<ul>-->
<!--			<li><a href="/form">健康者一覧</a></li>-->
<!--			<li><a href="/batform">再診者一覧</a></li>-->
<!--			<li><a href="/add">新規登録</a></li>-->
<!--		</ul>-->
<!--	</nav>-->

</header>

<div class="space"></div>
	<table>
		<tr>
			<td>
				<form action="#" method="get" th:action="@{/add}">

					<div><input type="submit" class="btn btn-outline-success" value="新規登録画面"></div>



				</form>
			</td>
		</tr>

	</table>
	<p></p>
	<table>
		<tr>
			<td>　　</td>
			<td>


				<form action="#" method="get" th:action="@{/form}">
					<div><input type="submit" class="btn btn-outline-success" value="健康者一覧"></div>

				</form>
			</td>
			<td> </td>

			<td>


				<form action="#" method="get" th:action="@{/batform}">
					<div><input type="submit" class="btn btn-outline-success" value="再診者一覧"></div>

				</form>
			</td>
		</tr>
	</table>
 <div class="push"></div>
	
	<footer>
		<div class="link"><a href="#">ページトップへ戻る</a></div>
		
		<p>©︎2023-2023　Kato Corporation.</p>
	</footer>
	</div>
	
</body>

</html>