<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>検索フォーム</title>
	<meta charset="utf-8" />
</head>

<body>
	<h1 th:text="ユーザー検索"></h1>
	<form method="get" action="#" th:action="@{/dayk2}" th:object="${input}" >

		<p>名前：<input type="text" name="name" ></p>
		<div th:each=" res : ${dbList}"><input type="hidden" name="id" th:value="${res.id}"></div>

		<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">エラーメッセージ</div>
		

		<div><input type="submit" value="検索"></div>

	</form>
<!--	<p>-->
<!--		<a href="http://localhost:8080/form">予定一覧ページ</a>-->
<!--	</p>-->
<!--	<p>-->
<!--		<a href="/form2">プロフィール一覧ページ</a>-->
<!--	</p>-->
</body>

</html>